<section class="section">
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>日期</th>
        <th>訂單編號</th>
        <th>訂單金額</th>
        <th>狀態</th>
        <th>功能</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>   
        <tr>
          <td><%= order.created_at %></td>
          <td><%= link_to order.num, order %></td>
          <td><%= order.total_price %></td>
          <td><%= order.state %></td>
          <td>
            <%= link_to "付款", pay_order_path(order), method: :post, data: { confirm: "確認付款?"}, class:"button is-primary is-small" if order.may_pay? %>
            <%= link_to "取消", cancel_order_path(order), method: :delete, class:"button is-danger is-small", data: { confirm: "確認取消訂單?\n如果已付款將會進行退費"} if order.may_cancel? %>

          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%== pagy_bulma_nav(@pagy) %>

</section>
